@media (min-width: 576px) {
   * {
       font: 20px sans-serif;
   }
}
 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    * {
        font: 20px sans-serif;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    * {
        font: 40px sans-serif;
    }
    
}


