input[type=text].form-control {
    border-radius: 5px;
    border-width: 2px;
    border-color: darkgrey;
    background: thistle;
 }
 
 button.btn.btn-primary {
    background: lightcoral;
    border-color: hotpink;
 }
 
 @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
body {
   font-family: 'Open Sans Condensed', sans-serif;
}
