
    @media (min-width: 576px) {
        * {
            font-size: 20px;
            }
    }
        /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
        * {
            font-size: 40px;
            }
    }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {
        * {
            font-size: 40px;
            }
    }
        /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
        * {
        font-size: 40px;
        }
    }
    .do123{
        align-items: center;

    }
