div.container {
  width: 100%;
  border: 1px solid gray;
}

header, footer {
  padding: 1em;
  color: white;
  /*background-color: linear-gradient( to right ,red,black);*/
  /*background: linear-gradient( to right ,red,black);*/
  background-color: #222;
  clear: left;
  text-align: center;
}

nav {
  float: left;
  max-width: 160px;
  margin: auto;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}
 
nav ul a {
  text-decoration: none;
}

article {
 /* margin-left: 170px;
  border-left: 1px solid gray;*/
  padding: 1em;
  overflow: hidden;
}
body {
  background: black;
  color: white;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

header ul li {
  float: left;
}

header ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul li a:hover {
  background-color: #111;
}